<!doctype html>
<html class="no-js fixed-layout" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理 | zhiLong</title>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="http://zhilong.cafe:9000/zhilongblog/1651824708.jpeg">

    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/superadmin.css">
    <link rel="stylesheet" href="css/plugs_paging.css">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">

    <link href="css/layui/layui.css" rel="stylesheet">
    <script src="js/layui/layui.js"></script>

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
</head>
<body>
<style>
    .content-class {
        float: left;
        left: 36px;
        top: 7px;
        position: relative;
        font-size: 17px;
    }

    .radio-b {
        margin-right: 202px;
        margin-top: 8px;
    }
</style>
<!--引入共有头部-->
<div th:replace="header :: header"></div>

<!--页面主体内容-->
<div class="am-cf admin-main" style="padding-top: 0">

    <!--左侧-->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="superAdminList am-list admin-sidebar-list">
                <li class="superAdminClick statistics"><a><span class="am-icon-home"></span> 仪表盘</a></li>
                <li class="article admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span>
                        文章管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li class="superAdminClick articleManagement"><a class="am-cf"><span
                                class="am-icon-check"></span> 文章管理<span
                                class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>

                        <li class="superAdminClick articleThumbsUp"><a><span class="am-icon-thumbs-up"></span> 点赞管理</a>
                        </li>
                        <li class="superAdminClick articleCategories"><a><span class="am-icon-th"></span> 分类管理</a></li>
                    </ul>
                </li>

                <li class="article admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#index-setting-nav'}"><span
                            class="am-icon-file"></span> 主页管理 <span
                            class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="index-setting-nav">
                        <li class="superAdminClick announcementManagement">
                            <a class="am-cf"><span class="am-icon-check">
                            </span> 轮播公告<span class="am-icon-star am-fr am-margin-right admin-icon-yellow">
                            </span>
                            </a>
                        </li>

                        <li class="superAdminClick articleThumbsUp"><a><span class="am-icon-thumbs-up"></span> 点赞管理</a>
                        </li>

                        <li class="superAdminClick articleCategories"><a><span class="am-icon-th"></span> 分类管理</a>
                        </li>

                        <li class="superAdminClick uploadImages"><a><span class="am-icon-th"></span> 上传图片</a>
                        </li>
                    </ul>
                </li>

                <li class="superAdminClick friendLink"><a><span class="am-icon-users"></span> 友链管理</a></li>
                <li class="superAdminClick rewardManagement"><a><span class="am-icon-plus-square"></span> 募捐管理</a></li>
                <li class="superAdminClick userFeedback"><a><span class="am-icon-table"></span> 反馈</a></li>
                <li class="superAdminClick privateWord" style="width: 100%"><a><span
                        class="am-icon-pencil-square-o"></span> 悄悄话</a></li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 公告</p>
                    <p>时光静好，与君语；细水流年，与君同。—— 张先森</p>
                </div>
            </div>

        </div>
    </div>

    <!--右侧-->
    <div class="admin-content">
        <div class="superAdminInfo">
            <div class="superFunction" id="statistics">
                <div class="subject">
                    <ol class="am-breadcrumb  am-breadcrumb-slash">
                        <li class="am-active am-icon-home"> 后台管理</li>
                        <li class="am-active">仪表盘</li>
                    </ol>
                    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-meh-o"></span><br/>总访问量<br/><span
                                class="allVisitor">0</span></a></li>
                        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-recycle"></span><br/>昨日访问<br/><span
                                class="yesterdayVisitor">0</span></a></li>
                        <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-user-md"></span><br/>总用户量<br/><span
                                class="allUser">0</span></a></li>
                        <li><a href="#" class="am-text-secondary"><span
                                class="am-icon-btn am-icon-file-text"></span><br/>文章量<br/><span
                                class="articleNum">0</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="superFunction" id="articleManagement">
                <div class="subject">
                    <div class="articles">
                        <div class="am-g">
                            <div class="am-u-sm-12 " style="padding-left: 0;">
                                <ol class="am-breadcrumb  am-breadcrumb-slash">
                                    <li class="am-active am-icon-home"> 后台管理</li>
                                    <li class="am-active">文章管理</li>
                                </ol>
                                <div class="articleManagementTable">
                                    <table class="table am-table am-table-bd am-table-striped admin-content-table  am-animation-slide-right">
                                        <thead>
                                        <tr>
                                            <th>文章标题</th>
                                            <th>发布时间</th>
                                            <th>文章分类</th>
                                            <th>浏览量</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody class="tables">

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="superFunction" id="articleThumbsUp">
                <div class="subject">
                    <div class="thumbsUpManagement">
                        <ol class="am-breadcrumb  am-breadcrumb-slash navigationBar">
                            <li class="am-active am-icon-home"> 后台管理</li>
                            <li class="am-active">点赞管理</li>
                        </ol>
                        <div class="msgContent am-animation-slide-right">
                            <!--填充文章点赞信息-->
                            <div style="height: 800px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="superFunction" id="articleCategories">
                <div class="subject">
                    <div class="articleCategoriesManagement">
                        <ol class="am-breadcrumb  am-breadcrumb-slash navigationBar">
                            <li class="am-active am-icon-home"> 后台管理</li>
                            <li class="am-active">分类管理</li>
                        </ol>
                        <div class="categoryContent">
                            <!--分类管理-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="superFunction" id="uploadImages">
                <div class="subject">
                    <div class="uploadImagesManagement">
                        <ol class="am-breadcrumb  am-breadcrumb-slash navigationBar">
                            <li class="am-active am-icon-home"> 后台管理</li>
                            <li class="am-active">上传图片</li>
                        </ol>
                        <div class="uploadImagesContent">
                            <!--上传图片-->
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="test1">上传图片</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="demo1">
                                    <p id="demoText"></p>
                                    <div class="layui-input-inline">
                                        <input id="upload-input" type="tel" name="phone" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div style="width: 95px;">
                                    <div class="layui-progress layui-progress-big" lay-showpercent="yes"
                                         lay-filter="demo">
                                        <div class="layui-progress-bar" lay-percent=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--================================================公告===================================-->
            <div class="superFunction" id="announcementManagement">
                <div class="subject">
                    <div class="articles">
                        <div class="am-g">
                            <div class="am-u-sm-12 " style="padding-left: 0;">
                                <ol class="am-breadcrumb  am-breadcrumb-slash">
                                    <li class="am-active am-icon-home"> 后台管理</li>
                                    <li class="am-active">公告管理</li>
                                </ol>
                                <div class="announcementManagementTable">
                                    <table class="layui-hide" id="layui-table-announcement" lay-filter="test"></table>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--增加公告模态框-->
            <div class="am-modal am-modal-alert" tabindex="-1" id="addAnnouncementLink">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">添加友链</div>

                    <div class="content-class">内容：</div>
                    <div class="b"><input id="content" type="text" class="am-modal-prompt-input"></div>
                    <div class="content-class">是否显示：</div>
                    <div class="radio-b">
                        <input type="radio" name="sex" value="0" title="显示" checked="">显示</input>
                        <input type="radio" name="sex" value="1" title="不显示">不显示</input>
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                        <span class="sureFriendLinkAddBtn am-modal-btn">确定</span>
                    </div>
                </div>
            </div>
            <!--================================================公告======================================-->
            <div class="superFunction" id="friendLink">
                <div class="subject">
                    <div class="friendLinkManagement">
                        <ol class="am-breadcrumb  am-breadcrumb-slash navigationBar">
                            <li class="am-active am-icon-home"> 后台管理</li>
                            <li class="am-active">友链管理</li>
                        </ol>
                        <div class="friendLinkContent">
                            <!--填充友链信息-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="superFunction" id="rewardManagement">
                <div class="subject">
                    <div class="">
                        <ol class="am-breadcrumb  am-breadcrumb-slash navigationBar">
                            <li class="am-active am-icon-home"> 后台管理</li>
                            <li class="am-active">募捐管理</li>
                        </ol>
                        <div class="rewardContent">
                            <!--填充募捐信息-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="superFunction" id="userFeedback">
                <div class="subject">
                    <div class="userFeedbackManagement">
                        <ol class="am-breadcrumb  am-breadcrumb-slash">
                            <li class="am-active am-icon-home"> 后台管理</li>
                            <li class="am-active">反馈管理</li>
                        </ol>
                        <div class="userFeedbackInfo">
                            <div class="feedbackInfos  am-animation-slide-right">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="superFunction" id="privateWord">
                <div class="subject">
                    <ol class="am-breadcrumb  am-breadcrumb-slash">
                        <li class="am-active am-icon-home"> 后台管理</li>
                        <li class="am-active">悄悄话</li>
                    </ol>
                    <div class="privateWord">
                    </div>
                </div>
            </div>
        </div>

        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">&copy; 2018-2019 zhiLong - <i class="am-icon-coffee" style="margin: 0 5px"></i>周志龙
                版权所有</p>
        </footer>
    </div>

    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>

    <!--删除文章模态框-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="deleteAlter">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除文章</div>
            <div class="am-modal-bd">
                你确定要删除吗？删除了就无法恢复了呦!
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="sureArticleDeleteBtn am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--添加分类模态框-->
    <div class="am-modal am-modal-prompt" tabindex="-1" id="addCategory">
        <div class="am-modal-dialog">
            <div class="top am-modal-hd">添加分类</div>
            <div class="am-modal-bd">
                <span class="describe">输入需要添加的分类名：</span>
                <input type="text" class="am-modal-prompt-input">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>提交</span>
            </div>
        </div>
    </div>

    <!--删除分类模态框-->
    <div class="am-modal am-modal-prompt" tabindex="-1" id="subCategory">
        <div class="am-modal-dialog">
            <div class="top am-modal-hd">删除分类</div>
            <div class="am-modal-bd">
                <span class="describe">输入需要删除的分类名：</span>
                <input type="text" class="am-modal-prompt-input">
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>提交</span>
            </div>
        </div>
    </div>

    <!--增加友链模态框-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="addFriendLink">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">添加友链</div>
            <span>博主：</span>
            <input id="blogger" type="text" class="am-modal-prompt-input">
            <span>博客地址：</span>
            <input id="url" type="text" class="am-modal-prompt-input">
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="sureFriendLinkAddBtn am-modal-btn">确定</span>
            </div>
        </div>
    </div>

    <!--删除友链模态框-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="deleteFriendLink">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除友链</div>
            <div class="am-modal-bd">
                你确定要删除吗？删除了就无法恢复了呦!
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="sureFriendLinkDeleteBtn am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--增加募捐记录模态框-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="addReward">
        <div class="am-modal-dialog">
            <div class="am-modal-bd">
                <form id="rewardFrom">
                    <fieldset class="addRewardForm">
                        <legend>增加募捐记录</legend>
                        <div>
                            <label for="fundRaiser">昵称</label>
                            <input type="text" class="rewardFormContent" id="fundRaiser" placeholder="输入募捐人昵称">
                        </div>
                        <div>
                            <label for="rewardMoney">募捐金额</label>
                            <input type="number" min="0.00" max="1000.00" step="0.01" class="rewardFormContent"
                                   id="rewardMoney" placeholder="输入募捐金额">
                        </div>
                        <div>
                            <label for="reward-date">募捐日期</label>
                            <input class="formInput" type="text" id="reward-date"
                                   data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'days'}" placeholder="填写募捐日期"/>
                        </div>
                        <div>
                            <label for="fundRaisingSources">募捐来源</label>
                            <select id="fundRaisingSources" class="rewardFormContent">
                                <option value="" selected>请选择</option>
                                <option value="公众号赞赏">公众号赞赏</option>
                                <option value="微信收款码">微信收款码</option>
                                <option value="支付宝收款码">支付宝收款码</option>
                                <option value="工资捐赠">工资捐赠</option>
                            </select>
                            <span class="am-form-caret"></span>
                        </div>
                        <div>
                            <label for="fundraisingPlace">募捐去处</label>
                            <input type="text" class="rewardFormContent" id="fundraisingPlace" placeholder="输入募捐去处">
                        </div>

                        <div>
                            <label for="remarks">备注</label>
                            <textarea class="rewardFormContent remarks" rows="1" id="remarks"
                                      placeholder="要不备注点啥"></textarea>
                        </div>
                        <div>
                            <label for="file">募捐证书</label>
                            <input type="file" name="file" id="file">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="sureAddRewardBtn am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <!--删除募捐记录模态框-->
    <div class="am-modal am-modal-confirm" tabindex="-1" id="deleteReward">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除募捐记录</div>
            <div class="am-modal-bd">
                你确定要删除吗？删除了就无法恢复了呦!
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="sureRewardDeleteBtn am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</div>


<!--手机适配显示左侧按钮-->
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<script src="js/all.js"></script>
<script src="js/plugs_paging.js"></script>
<script src="js/superadmin.js"></script>
<script>
    layui.use(['upload', 'element', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , element = layui.element
            , layer = layui.layer
            , table = layui.table;

        //常规使用 - 普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/uploadHeadMinIo' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });

                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 0});
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                $('#upload-input').attr('value', res.data); //图片链接（base64）
                //上传成功的一些操作
                //……
                $('#demoText').html(''); //置空上传失败的状态
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
            //进度条
            , progress: function (n, elem, e) {
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                if (n === 100) {
                    layer.msg('上传完毕', {icon: 1});
                }
            }
        });

        //执行一个 table 实例
        table.render({
            elem: '#layui-table-announcement'
            , height: 420
            , url: '/getAnnouncementManagement' //数据接口
            , title: '用户表'
            , page: true //开启分页
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                    , {field: 'content', title: '公告内容', width: 80}
                    , {field: 'showStatusName', title: '是否显示', width: 80}
                    , {field: 'createTime', title: '创建时间', width: 200, sort: true}
                ]
            ]
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    layer.msg('添加');
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        layer.alert('编辑 [id]：' + checkStatus.data[0].id);
                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                    }
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'more') {
                //下拉菜单
                dropdown.render({
                    elem: this //触发事件的 DOM 对象
                    , show: true //外部事件触发即显示
                    , data: [{
                        title: '编辑'
                        , id: 'edit'
                    }, {
                        title: '删除'
                        , id: 'del'
                    }]
                    , click: function (menudata) {
                        if (menudata.id === 'del') {
                            layer.confirm('真的删除行么', function (index) {
                                obj.del(); //删除对应行（tr）的DOM结构
                                layer.close(index);
                                //向服务端发送删除指令
                            });
                        } else if (menudata.id === 'edit') {
                            layer.msg('编辑操作，当前行 ID:' + data.id);
                        }
                    }
                    , align: 'right' //右对齐弹出（v2.6.8 新增）
                    , style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' //设置额外样式
                })
            }
        });
    });
</script>
</body>
</html>
